a{
    color: black;
}
.buy-now-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}
/* section 1 */
.text-with-carousel{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    width: none;
    background-size: 120px;
    background-position:left bottom;
    /* background-color: teal; */
    width: 480px;
    height: 350px;
    padding-left: 150px;
    padding-top: 20px;
}
.carousel-img-all{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    width: none;
    background-size: 50px;
    left: 10px;
    /* background-color: teal; */
    background-position-y: top;
}
.carousel-item{
    padding: 20px 40px;
}
#carouselExampleIndicators{
    /* background-color: thistle; */
    /* width: 550px; */
    margin-bottom: 50px;
}
/* section 2,3 */
.smartphone-laptop{
    margin-left: 200px;

}
.see-all{
    /* background-image: linear-gradient(to right,rgb(253, 216, 5),rgb(253, 166, 5)); */
    color: rgb(253, 216, 5);
    margin-right: 200px;
}
.card-deck{
    margin-bottom: 50px;
}
.card{
    box-shadow: 3px 3px 8px gray;
}

/* section 4 */
.grid{
    margin-top: 80px;
}
#catagories{
    margin-top: 80px;
    margin-bottom: 20px;
}
.card-img-top{
    width: 40%;
    padding: 50px 0px 20px 0px;
}
.card-body{
    padding-bottom: 50px;
    text-align: center;
}
#perfum,#shoes{
    margin-bottom: 50px;
    /* background-color: lightskyblue;
    height: 15rem; */
}
#pale-order{
    /* background-color: lightseagreen; */
    width: 30rem;
}

footer{
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}